/Threads/nbproject/private/
/Threads/build/
/AgeCalculator/nbproject/private/
/AgeCalculator/build/
/CodingPractice/nbproject/private/
/CodingPractice/build/
/CodingPractice/dist/
/rankingActivity/nbproject/private/
/rankingActivity/build/
/ranking/target/
